extends ../layouts/main

block content
    .container
        if (prods.length > 0)
            h2 All Products
            .row
                each prod in prods
                    .col-lg-3.col-md-4.col-sm-6.col-6.mb-4
                        a.no-styling-a(href="/admin/edit-product/" + prod.id)
                            .card.h-100
                                img.card-img-top(src=prod.imageURL)
                                .card-body.d-flex.flex-column
                                    h5.card-title #{prod.title}
                                    p.card-text= "$" + Number((prod.price).toFixed(2))
                                .mt-auto
                                    hr.mt-0
                                    .d-flex.justify-content-center.pb-3
                                        a.no-styling-a.edit-icon.p-2.me-3(href="/admin/edit-product/" + prod.id)
                                            i.fa-solid.fa-pen-to-square
                                        form(action="/admin/delete-product/" + prod.id, method="POST")
                                            input(type="submit", id="submit: " + prod.id, hidden)
                                            label(for="submit: " + prod.id)
                                                a.no-styling-a.edit-icon.p-2.ms-3(type="submit")
                                                    i.fa-solid.fa-trash
        else
            h2 No Products