<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="nav-li top-li"><a href="/">Home</a></li>
            <li class="nav-li"><a href="/users">Users</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Posts</h1>
    <ul>
        <li class="post-li">
            <div class="post">
                <h2>Cras quis odio maximus</h2>
                <p>Integer nec est mi. Nulla pharetra, nibh non tempor tempor,
                    erat
                    ante posuere tellus, nec facilisis neque velit id tellus.
                    Nam
                    vel viverra odio. Sed sed metus tortor. Quisque ornare
                    tortor
                    massa, quis sagittis nibh maximus vitae. Aenean volutpat
                    libero
                    ac tempor rhoncus.</p>
            </div>
        </li>
        <li class="post-li">
            <div class="post">
                <h2>Sed pharetra tempor tellus</h2>
                <p>Donec malesuada varius leo, a viverra nisi auctor at.
                    Pellentesque aliquam sem quis ultrices condimentum. Sed
                    eget mattis libero, eget sodales magna. Maecenas pretium
                    eros in ante placerat blandit. Nunc efficitur lacus sit
                    amet risus imperdiet pulvinar. Morbi interdum enim eu
                    ullamcorper consequat. Curabitur a pellentesque nunc.
                    Vivamus sagittis metus velit, sed volutpat augue
                    condimentum id. Nullam sit amet ligula ultrices, rutrum
                    odio non, ultricies massa. Nulla augue augue, pharetra a
                    nulla id, lobortis placerat sem.</p>
            </div>
        </li>
        <li class="post-li">
            <div class="post">
                <h2>Sed in vehicula leo</h2>
                <p>Donec molestie, lacus id porta volutpat, lorem arcu feugiat
                    risus, at consequat enim lacus in quam. Nunc dignissim
                    risus sed nibh commodo cursus. Morbi faucibus nisl a libero
                    interdum, eget rutrum diam porta. Ut quis ornare odio,
                    vitae faucibus neque. Morbi sed ornare eros, eu consequat
                    velit.</p>
            </div>
        </li>
        <li class="post-li">
            <div class="post">
                <h2>Suspendisse urna magna</h2>
                <p>In placerat ac risus porttitor molestie. Suspendisse et arcu
                    dui. Sed scelerisque sem at urna tincidunt volutpat. Etiam
                    ultricies odio id ante sagittis vulputate. Donec a eros vel
                    neque porta convallis. Aliquam erat volutpat. Vestibulum
                    quam sem, auctor a purus eget, commodo finibus ipsum. Sed
                    in sollicitudin orci, ut venenatis ante. Donec ultricies
                    lacinia ante vel bibendum. Sed interdum eu orci interdum
                    varius. Praesent porta ornare felis. Aenean non libero
                    elit. Morbi in odio id orci dignissim convallis. Maecenas
                    nec tincidunt nunc, a blandit mi. Fusce in accumsan nunc.
                    Nunc non lacus augue. Etiam pellentesque interdum lectus at
                    venenatis. Nulla bibendum iaculis orci, a pretium leo. Sed
                    condimentum rutrum ultrices. Etiam in nisl at mi egestas
                    finibus sit amet a lacus. Suspendisse ac porttitor sem. Ut
                    nec ullamcorper metus. Vestibulum at hendrerit lorem.</p>
            </div>
        </li>
        <li class="post-li">
            <div class="post">
                <h2>Duis sollicitudin commodo nunc et lacinia</h2>
                <p>Vivamus a turpis non mi porta convallis. Aenean tempus
                    aliquet purus sed ultricies. Fusce eu lacinia ipsum, vel
                    venenatis orci. Praesent rutrum urna et turpis tincidunt
                    ultricies.</p>
            </div>
        </li>
    </ul>
</main>
</body>
</html>