header {
    padding: 0 3%;
}

nav {
    border-bottom: 2px solid #212529;
}

.nav-link:hover {
    color: #AA6C39;
}

.my-active {
    color: #AA6C39;
}

h2, h4 {
    text-align: center;
    padding: 2rem 0;
}

.card {
    text-align: center;
}

img {
    height: 250px;
    object-fit: cover;
}

i {
    font-size: 1.25rem;
}

.cart-col {
    border-bottom: 2px solid #212529;
}

a {
    cursor: pointer;
}

.no-styling-a {
    color: inherit;
    text-decoration: inherit;
}

.card-text {
    margin-bottom: 0;
}

.edit-icon, .qty-icon, .delete-anchor {
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.edit-icon:hover {
    color: #d22d2d;
}

.detail-img {
    min-height: 70vh;
    object-fit: contain;
}

.edit-img {
    min-height: 60vh;
    object-fit: contain;
}

.details-hr {
    display: none;
}

@media only screen and (max-width: 991px) {
    .details-hr {
        display: inline-block;
    }

    .detail-img {
        height: 60vh;
    }
}

.delete-anchor {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.delete-anchor:visited {
    color: red;
}

.delete-anchor:hover {
    color: darkred;
}

.total-text {
    font-size: 0.8rem;
}

.total-price {
    font-size: 2rem;
}

.light-text {
    color: gray;
}

.card-img-top {
    object-fit: contain;
}

.qty {
    font-size: 1.125rem;
    font-weight: 500;
}

.qty-form {
    display: inline-block;
}

.qty-icon {
    cursor: pointer;
}

.qty-icon:hover {
    color: white;
    background-color: #212529;
}
