extends layouts/main

block content
    .container
        if (prods.length > 0)
            h2 All Products
            .row
                each prod in prods
                    .col-lg-2.col-md-3.col-sm-6.col-6
                        .card.mb-4
                            img.card-img-top(src=prod.image)
                            .card-body
                                h5.card-title #{prod.title}
                                p.card-text #{prod.price}€
                                a.btn.btn-outline-dark(href="/") Buy now
        else
            h2 No Products