extends ../layouts/main

block head
    link(rel="stylesheet" href="/css/product-cards.css")

block content
    .container
        if (prods.length > 0)
            h2.main-heading All Products
            .row
                each prod in prods
                    .col-lg-3.col-md-4.col-sm-6.col-6.mb-4
                        a.no-styling-a(href="/products/" + prod.id)
                            .card.h-100
                                img.card-img-top(src=prod.imageURL)
                                .card-body
                                    h5.card-title #{prod.title}
                                    p.card-text.mt-auto= "$" + Number((prod.price).toFixed(2))
        else
            h2.main-heading No Products
